<!-- main -->
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/app.js"></script>
<!-- spesific -->
<script src="assets/extensions/jquery.min.js"></script>
<script src="assets/extensions/parsley.min.js"></script>
<script src="assets/pages/parsley.js"></script>
<script src="assets/extensions/toastify.js"></script>
<% if(message.length > 0){ %>
  <script>
    Toastify({
      text: "<%= message %>",
      duration: 3000,
      close: true,
      gravity: "top",
      position: "right",
      backgroundColor: "<%= alert[0].hex %>",
    }).showToast()
  </script>
<% } %>
</body>
</html>