<footer>
  <div class="footer clearfix mb-0 text-muted">
    <div class="float-start">
      <p>2021 &copy; Mazer</p>
    </div>
    <div class="float-end">
      <p>
        Crafted with
        <span class="text-danger"><i class="bi bi-heart"></i></span> by
        <a href="https://saugi.me">Saugi</a>
      </p>
    </div>
  </div>
</footer>
</div>
</div>
<!-- main -->
<script src="../assets/js/bootstrap.js"></script>
<script src="../assets/js/app.js"></script>
<script src="../assets/extensions/jquery.min.js"></script>
<!-- spesific -->
<script src="../assets/extensions/apexcharts.min.js"></script>
<script src="../assets/pages/dashboard.js"></script>
<script src="../assets/extensions/toastify.js"></script>
<script src="../assets/extensions/simple-datatables.js"></script>
<script src="../assets/pages/simple-datatables.js"></script>
<script src="../assets/extensions/parsley.min.js"></script>
<script src="../assets/extensions/quill.min.js"></script>
<script src="../assets/pages/parsley.js"></script>
<script src="../assets/pages/quill.js"></script>
<!-- custom -->
<script>
  const performanceRange = document.getElementById('performanceRange')
  const setDataTraining = document.getElementById('setDataTraining')
  performanceRange.addEventListener('input', () => {
    setDataTraining.innerHTML = performanceRange.value
  })
</script>
<script>
  $('#formCardBtn').on('click', () => {
    $('#formCardBtn').removeClass('opacity-50')
    $('#tableCardBtn').removeClass('border border-bottom-0')
    $('#formCardBtn').addClass('border border-bottom-0')
    $('#tableCardBtn').addClass('opacity-50')
    $('#tableCard').addClass('d-none')
    $('#formCard').removeClass('d-none')
  })
  $('#tableCardBtn').on('click', () => {
    $('#tableCardBtn').removeClass('opacity-50')
    $('#tableCardBtn').addClass('border border-bottom-0')
    $('#formCardBtn').removeClass('border border-bottom-0')
    $('#formCardBtn').addClass('opacity-50')
    $('#tableCard').removeClass('d-none')
    $('#formCard').addClass('d-none')
  })
  $('#kab').on('change', () => {
    const idKab = $('#kab').find(":selected").val()
    $.ajax ({
        url : `https://fachiri.github.io/api-wilayah-indonesia/api/districts/${idKab}.json`,
        method : "GET",
        success : (result) => {
          let rows = []
          for (const i of result) {
            rows.push(`<option value='${i.id}'>${i.name}</option>`)
          }
          $("#kec").html(rows.join(''));
        }
    });
  })
</script>
<script>
  const submitBtn = document.getElementById('submitBtn')
  const submitBtnSpinner = document.getElementById('submitBtnSpinner')

  submitBtn.addEventListener('click', () => {
    submitBtn.classList.toggle('d-none')
    submitBtnSpinner.classList.toggle('d-none')
    setTimeout(() => {
      submitBtn.classList.toggle('d-none')
      submitBtnSpinner.classList.toggle('d-none')
    }, 3500)
  })
</script>
<% if(message.length> 0){ %>
  <script>
    Toastify({
      text: "<%= message %>",
      duration: 3000,
      close: true,
      gravity: "top",
      position: "right",
      backgroundColor: "<%= alert[0].hex %>",
    }).showToast()
  </script>
  <% } %>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script>
      $('#summernote').summernote({
        placeholder: 'Tulis Artikel Disini...',
        tabsize: 2,
        height: 120,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
    </script>

    </body>

    </html>