  <%- include('../partials/headerAuth'); %>
    <div id="auth">
      <div class="row h-100">
        <div class="col-lg-5 col-12">
          <div id="auth-left">
            <div class="auth-logo">
              <a href="<%= baseUrl %>">
                <!-- <img src="images/logo/logo.svg" alt="Logo" /> -->
                <span class="fs-4 fw-bold">SISAGIZ</span>
              </a>
              <p class="fs-5">Sistem Informasi Status Gizi</p>
            </div>
            <h1 class="auth-title">Login</h1>
            <p class="auth-subtitle mb-5">
              Login berdasarkan data yang kamu masukkan selama registrasi.
            </p>

            <form action="/auth/login" method="post" class="form" data-parsley-validate>
              <div class="form-group position-relative has-icon-left mb-4">
                <input
                  type="email"
                  class="form-control form-control-xl"
                  placeholder="Email"
                  name="email"
                  data-parsley-required="true"
                />
                <div class="form-control-icon">
                  <i class="bi bi-person"></i>
                </div>
              </div>
              <div class="form-group position-relative has-icon-left mb-4">
                <input
                  type="password"
                  class="form-control form-control-xl"
                  placeholder="Password"
                  name="password"
                  data-parsley-required="true"
                />
                <div class="form-control-icon">
                  <i class="bi bi-shield-lock"></i>
                </div>
              </div>
              <!-- <div class="form-check form-check-lg d-flex align-items-end">
                <input
                  class="form-check-input me-2"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label
                  class="form-check-label text-gray-600"
                  for="flexCheckDefault"
                >
                  Keep me logged in
                </label>
              </div> -->
              <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5" id="submitBtn" type="submit">
                Login
              </button>
              <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5 d-none" id="submitBtnSpinner" type="button" disabled>
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                Loading...
              </button>
            </form>
            <div class="text-center mt-5 text-lg fs-4">
              <p class="text-gray-600">
                Tidak punya akun?
                <a href="/register" class="font-bold">Register</a>
              </p>
              <p>
                <a class="font-bold" href="/forgot-password">
                  Lupa Password
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
          <div id="auth-right"></div>
        </div>
      </div>
    </div>
  <%- include('../partials/footerAuth'); %>
